# DATABASE CONFIGURATION
DB_NAME=hmiyc
DB_USER=postgres
DB_PASSWORD=postgres@123

# RAILWAY POSTGRESQL CONFIGURATION
PGHOST=metro.proxy.rlwy.net
PGPORT=123
PGDATABASE=railway
PGUSER=postgres
PGPASSWORD=postgres@123

# API KEYS (Google GenAI)
# Replace the placeholder value with your actual Google GenAI API key
# Api can be generated in https://aistudio.google.com/api-keys and then just copy-paste the key here
GOOGLE_GENAI_API_KEY=your-google-genai-api-key-here