# ================================
# 💡 VSCODE
# ================================
.vscode

# ================================
# 💡 IntelliJ IDEA
# -------------------------------
# IDE (např. IntelliJ) vytváří lokální konfigurační soubory,
# které si každý vývojář drží u sebe – není třeba je sdílet v repu.
# ================================
.idea/
*.iml
*.ipr
*.iws